$mobile: 375px;
$desktop: 1440px;

//colors
$primaryRed: hsl(10, 79%, 65%);
$primaryCyan: hsl(186, 34%, 60%);

$neutralDarkBrown: hsl(25, 47%, 15%);
$neutralMediumBrown: hsl(28, 10%, 53%);
$neutralCream: hsl(27, 66%, 92%);
$neutralPaleOrange: hsl(33, 100%, 98%);

//sizes
$fontSize: 18px;
