@use '../../styles/variables' as *;
@use '../../styles/mixin' as *;

.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &__bar {
    margin-top: 7px;
    width: 50px;
    width: clamp(35px, 9.4vw, 50px);
    height: 100px;
    background-color: $primaryRed;
    border-radius: $xsRadius;
    margin-bottom: 10px;
    cursor: pointer;
    @include media {
      margin-top: 0;
    }
    &:hover {
      background-color: lighten($color: $primaryRed, $amount: 10%);
    }

    &--bigger {
      background-color: $primaryCyan;
      &:hover {
        background-color: lighten($color: $primaryCyan, $amount: 20%);
      }
    }
  }

  &__string {
    text-align: center;
    color: $neutralMediumBrown;
    @include media {
      font-size: 0.8em;
    }
  }

  &__spends {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $neutralDarkBrown;
    color: $neutralPaleOrange;
    width: 75px;
    height: 40px;
    font-size: $fontSize;
    border-radius: $xsRadius;
    position: absolute;
    top: -40px;
    transform: scale(0);
    animation: growUp 200ms forwards ease-in-out;
    @include media {
      top: -50px;
    }
  }
}
@keyframes growUp {
  to {
    transform: scale(1);
  }
}
