@use '../../styles/variables.scss' as *;
@use '../../styles/mixin.scss' as *;

.component__container {
  background-color: $neutralCream;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  padding: 10px;
  @include media() {
    gap: 15px;
  }
}
